
.root {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 1px;
}


.App {
  display: flex;
  flex-direction: column;
  max-width: 90vw;
}



.board {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.cell {
  width: 6vh;
  height: 6vh;
  font-size: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.black {
  background-color: #b58863;
}

.white {
  background-color: #f0d9b5;
}

.drawer.black{
  background-color: gray;
}


.highlighted, .drawer.black.highlighted{
  background-color: yellow;
}

.picked, .drawer.black.picked{
  background-color: red;
}

.deactivated, .drawer.black.deactivated{
  background-color: darkgrey;
}

.bottom {
  width: 48vh
}

.active_players, .active_requests {
  display: flex;
  flex-direction: column;
  margin: 5px;
}

.game_over {
  pointer-events: none;
}
button {
  pointer-events: auto;
}

